{% extends "layout.njk" %}
{% block content %} 
<h1> {{message}}</h1>
<p>Hejsan hur går det</p>
<p>KLICKA <a href="/">mig</a> För att gå tillbaka</p>
    <iframe width="300" height="500" src="https://www.youtube.com/embed/XCag4bcb5ao?si=KZ-9SYi5cNJMJXNR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>
    <video width="300" height="500" controls>
    <source src="/videos/catmp4.mp4" type="video/mp4">
    </video>
<iframe width="560" height="315" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
{%endblock%}